<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.healthpetapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthPetApp">
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".MedicalHistory"
            android:exported="true"
            android:label="Medical History"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".MyContact"
            android:exported="true"
            android:label="My Contact"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".AddContact"
            android:exported="true"
            android:label="Add Contact"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".shedule_appointment"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/login" />
        <activity
            android:name=".TwoStepVerification"
            android:exported="true"
            android:label="Two-Step Verification" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/Welcome_to_healthpet"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MyAppointment"
            android:exported="true"
            android:label="My Appointment"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.HealthPetApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>